{% extends 'base.html' %}

{% block title %} {{post.post_name}} {% endblock title%}

{% block content %}
<div>
    
    <p>Category: {{category.category_name}}</p>
    <p>Description: {{post.post_description}}</p>
  
    <br>
    <br>
    <a href="{% url 'edit_post' category_id=category.id post_id=post.id%}"> Edit Post</a>
    <br>
    <br>
    <form name="delete_category" method="POST" action="{% url 'delete_post' category_id=category.id post_id=post.id %}">
      {% csrf_token %}
      <input type="submit" value="Delete post" />
    </form>
  </div>
  {% endblock content %}